.gcontainer{
    background-color: bisque;
    width: 860px;
    height: 1220px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat 1fr 1fr 1fr ;
}
.rol1{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.rol2{
    background-color: blue;

}
.rol3{
    background-color: blueviolet;
}
.rol4{
    background-color: brown;
}
.rol5{
    background-color:lawngreen;
}
.rol6{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-column-start: 1;
    grid-row-end:2 ;
    grid-area: ;

}
.rol7{
    background-color: darkgreen;
}
.rol8{
    background-color: darkmagenta;
}
.rol9{
    background-color: olive;
}