
.achui{
    background-color:bisque ;
    font-style: oblique;

}
.ach{font-size:20px;
    text-transform: uppercase;

}
#haeding{
    background-color: blue;

}
h1:hover{
    background-color: rgb(0, 255, 55);
}

.cc{ font-style: italic;
    font-size: larger;
}
img:hover{ 
    width:150px;
}